{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
{% for post in post_list %}
  <div class="card mb-3">
    <h2 class="card-header bg-dark text-white">{{ post.title }}</h2>
    <div class="card-body">
      <a href="{% url 'blog:detail' post.pk %}">
        {% if post.thumbnail %}
          <img class="img-thumbnail" src="{{ post.thumbnail.url }}" alt="{{ post.title }}" height="200" width="200">
        {% else %}
          <img class="img-thumbnail" src="{% static 'videos/noimage.jpg' %}"s alt="{{ post.title }}" height="200" width="200">
        {% endif %}
      </a>
      <p>{{ post.created_at }}, {{ post.category }}</p>
      <a href="{% url 'blog:detail' post.pk %}" class="btn btn-dark">続きを読む</a>
    </div>
  </div>
{% endfor %}

{% include 'blog/page.html' %}

{% endblock %}